#chart-world {
  min-height: 400px;
}

#chart-county-bar > .axis--y .domain {
  display: none;
}
#chart-vote-map-svg, #chart-county-map-svg {
  display: block;
  margin: auto;
}

input {
  background: transparent;
  border: none;
  margin: 10px 384px;
  width: 180px;
  font-size: 18px;
  padding: 6px;
  text-align: center;
}
.tooltip {
    background: rgba(0, 0, 0, 0.75);
    color: #f9f9f9;
    padding: 8px;
  }

/* CHART MARKS */
.county {
  stroke: #fff;
  stroke-width: 0.3px;
  opacity: 0.7;
}
.county-pt {
  opacity: 0.7;
}




/* to pull the attribute picker down */
.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}
