.panel {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#chart-world {
  min-height: 400px;
}
.bar.timeline-day {
  fill: #666;
}

#bar-y >  .domain {
  display: none;
}

#chart-vote-map-svg, #chart-county-map-svg {
  display: block;
  margin: auto;
  stroke-linejoin: round;
  stroke-linecap: round;
}

input {
  background: transparent;
  border: none;
  margin: 10px 384px;
  width: 250px;
  font-size: 18px;
  padding: 6px;
  text-align: center;
}
.tooltip {
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #f9f9f9;
    padding: 8px;
  }

/* CHART MARKS */
.county, .state {
  stroke-width: 0.3px;
  opacity: 0.7;
}
.state {
	stroke: #777;
}
.county {
	stroke: #fff;
}
.county-pt {
  opacity: 0.7;
}

/* Titles and formatting */
#scatter-title, #bar-title, #county-title {
  font-weight: bold;
  font-size: 12px;
}
 #vote-title {
   font-weight: bold;
   font-size: 14px;
 }
 text.legendTitle {
   font-weight: bold;
   font-size: 12px;
 }


/* to pull the attribute picker down */
.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.card-img-top {
  overflow: hidden;
  width: inherit;
  /*
  max-height: 250px;
  max-width: 33%;
  */
}
